html {
  box-sizing: border-box;
}

html * {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  display: flex;
  flex-flow: column nowrap;
}

html, body, .content {
  height: 100%;
}

.header {
  font-size: 3rem;
  background-color: #5764c6;
  color: white;
  padding: 1rem;
  flex: 0 0 auto;
}

.logo {
  height: 2rem;
  width: 2rem;
  background: url(/img/flight-white.svg) no-repeat center;
  display: inline-block;
}


.content {
  padding: 1rem;
  flex: 1 1 auto;
  overflow: auto;
}

.footer {
  background-color: #5764c6;
  color: white;
  padding: 1rem;
  flex: 0 0 auto;
}

.searchForm {
  display: flex;
  flex-wrap: wrap;
}

.search-label {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
}

.tab-button {
  cursor: pointer;
}

.no-data {
  text-align: center;
  margin: 2rem;
  font-size: 2rem;
}

.spinner {
  height: 5rem;
  width: 5rem;
  background: url(/img/flight.svg) no-repeat center;
  animation: rotation 3s linear infinite;
  transform-origin:100% 100%;
  margin: 2rem auto;
}

@keyframes rotation {
  0% {transform:rotate(0deg);}
  100% {transform:rotate(360deg);}
}